/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

:root {
    --background-color: rgb(0, 0, 0, .9);
    --form-background-color: rgb(242, 242, 242);
    font-size: 20px;
    font-family: Quintessential, system-ui;
    --input-background-color: white;
    color: black;
    --diluted-black: rgb(0,0,0, .5);

    --valid-color: rgb(0, 204, 153, .35);
    --invalid-color: rgb(204, 0, 0, .35);

    --normal-border-color: rgb( 118, 118, 118);
    --submit-button-color: rgb(0, 204, 153);
}

body {
    background-color: var(--background-color);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.main-body{
    width: 70%;
    min-height: 100vh;
    display: flex;
}

.form-body {
    height: 100%;
}


.img-container {
    height: 100vh;
    background-image: url(sources/deer.jpg);
    position: sticky;
    top: 0px;
    min-width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container > p{
    color: rgb(230, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 36, 36, 0.788);
}

.img-credit {
    height: 50px;
    margin-top: auto;
}

.img-container a{
    color: rgb(230, 207, 207);
    text-decoration: none;
    margin: 0 5px;
    position: sticky;
    top: 0px;
}

.logo {
    height: 80px;
}

.logo > img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.form-body {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    background-color: var(--form-background-color);
}

.form-body h1, .form-body h2, .submit {
    margin-left: 30px;
}

#newsletter-form {
    margin-top: 50px;
}

.form-body > h1, .form-body  h2 {
    font-size: 1.5rem;
}

.form-inputs {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    gap: 40px;
    padding: 30px;
    background-color: var(--input-background-color);
}

label:has(+ input) {
    margin-bottom: -5px;
}

label + input {
    width: 200px;
}
 
input:valid {
    background-image: linear-gradient(to right, white, var(--valid-color));
    border: 1px inset var(--valid-color);
}

input:invalid {
    background-image: linear-gradient(to right, white, var(--invalid-color));
    border: 1px inset var(--invalid-color);
}

input:focus:valid {
    border: 1px inset var(--valid-color);
}

input:focus:invalid {
    border: 1px inset var(--invalid-color);
}

input:placeholder-shown {
    background-image: none;
    border: 1px inset var(--normal-border-color);
} 

form:has(input:invalid) button {
    background-color: var(--invalid-color);
}

.form-inputs > li {
    margin-right: 50px;
}

.form-inputs > p {
    width: 100%;
}


.form-inputs  label {
    display: block;
}

.submit {
    background-color: var(--submit-button-color);
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 225px;
    color: var(--form-background-color);
}
